<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,32}</string>
                <key>spriteSourceSize</key>
                <string>{114,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{114,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{0,32},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{50,32},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rect-border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,50}</string>
                <key>textureRect</key>
                <string>{{0,82},{90,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Exchange.png</string>
            <key>size</key>
            <string>{114,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49b13816fc24f3c35dcc203d01f2636f:2b179b523644d224e6e71593edb4cade:b3a7905150d1778158e813e6db099a26$</string>
            <key>textureFileName</key>
            <string>Exchange.png</string>
        </dict>
    </dict>
</plist>
