<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addAddr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{153,0},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addressBG.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,97}</string>
                <key>spriteSourceSize</key>
                <string>{750,97}</string>
                <key>textureRect</key>
                <string>{{0,195},{750,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>advisor.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{447,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alert-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,360}</string>
                <key>spriteSourceSize</key>
                <string>{530,360}</string>
                <key>textureRect</key>
                <string>{{1500,315},{530,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alert-bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,785}</string>
                <key>spriteSourceSize</key>
                <string>{530,785}</string>
                <key>textureRect</key>
                <string>{{1440,675},{530,785}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrowLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrowLeft_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{18,0},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_queren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,88}</string>
                <key>spriteSourceSize</key>
                <string>{667,88}</string>
                <key>textureRect</key>
                <string>{{1178,0},{667,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-frash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,36}</string>
                <key>textureRect</key>
                <string>{{118,0},{35,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-tel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,88}</string>
                <key>spriteSourceSize</key>
                <string>{450,88}</string>
                <key>textureRect</key>
                <string>{{728,0},{450,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{317,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>center_bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,411}</string>
                <key>spriteSourceSize</key>
                <string>{750,411}</string>
                <key>textureRect</key>
                <string>{{690,675},{750,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{62,0},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>couponitem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,220}</string>
                <key>spriteSourceSize</key>
                <string>{690,220}</string>
                <key>textureRect</key>
                <string>{{0,675},{690,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{88,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grayBg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,120}</string>
                <key>spriteSourceSize</key>
                <string>{750,120}</string>
                <key>textureRect</key>
                <string>{{0,315},{750,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grayBg2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,120}</string>
                <key>spriteSourceSize</key>
                <string>{750,120}</string>
                <key>textureRect</key>
                <string>{{750,195},{750,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{189,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,195}</string>
                <key>spriteSourceSize</key>
                <string>{151,195}</string>
                <key>textureRect</key>
                <string>{{577,0},{151,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>listBg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,120}</string>
                <key>spriteSourceSize</key>
                <string>{750,120}</string>
                <key>textureRect</key>
                <string>{{750,315},{750,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nocheck.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{36,0},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>userCenter.png</string>
            <key>size</key>
            <string>{2030,1460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c07eafd44dacbfb22b124ec4e2bfee9e:2f25c4c8f21b81ac0a06098c0d229011:4231f6d10ff3eebc8254595fa4c8ea2d$</string>
            <key>textureFileName</key>
            <string>userCenter.png</string>
        </dict>
    </dict>
</plist>
