<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,386}</string>
                <key>spriteSourceSize</key>
                <string>{640,386}</string>
                <key>textureRect</key>
                <string>{{44,0},{640,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,460}</string>
                <key>spriteSourceSize</key>
                <string>{750,460}</string>
                <key>textureRect</key>
                <string>{{0,386},{750,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,36}</string>
                <key>spriteSourceSize</key>
                <string>{22,36}</string>
                <key>textureRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,36}</string>
                <key>spriteSourceSize</key>
                <string>{22,36}</string>
                <key>textureRect</key>
                <string>{{22,0},{22,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chickDetail.png</string>
            <key>size</key>
            <string>{750,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f79756b67a4146ffb1263ba7cf7400c8:86c0e65d2d808ca6531ff2de221edf2d:849d1360d31d5da928c29b3130f1f5e5$</string>
            <key>textureFileName</key>
            <string>chickDetail.png</string>
        </dict>
    </dict>
</plist>
