<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>farm_icon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,101}</string>
                <key>spriteSourceSize</key>
                <string>{80,101}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farm_icon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,101}</string>
                <key>spriteSourceSize</key>
                <string>{80,101}</string>
                <key>textureRect</key>
                <string>{{80,0},{80,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farm_icon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,101}</string>
                <key>spriteSourceSize</key>
                <string>{80,101}</string>
                <key>textureRect</key>
                <string>{{160,0},{80,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farm_icon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,101}</string>
                <key>spriteSourceSize</key>
                <string>{80,101}</string>
                <key>textureRect</key>
                <string>{{240,0},{80,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farm_icon_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,101}</string>
                <key>spriteSourceSize</key>
                <string>{80,101}</string>
                <key>textureRect</key>
                <string>{{320,0},{80,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farm_icon_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,101}</string>
                <key>spriteSourceSize</key>
                <string>{81,101}</string>
                <key>textureRect</key>
                <string>{{0,101},{81,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liandao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,133}</string>
                <key>spriteSourceSize</key>
                <string>{100,133}</string>
                <key>textureRect</key>
                <string>{{81,101},{100,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mapNew.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,326}</string>
                <key>spriteSourceSize</key>
                <string>{418,326}</string>
                <key>textureRect</key>
                <string>{{0,234},{418,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Farm.png</string>
            <key>size</key>
            <string>{418,560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bedb55f6938287b21b3aad2ab9306305:f6b0f83ea8726d03a5954c30040ff02e:05e838f5619283e926a092fd22e805ea$</string>
            <key>textureFileName</key>
            <string>Farm.png</string>
        </dict>
    </dict>
</plist>
