<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Modal_more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,773}</string>
                <key>spriteSourceSize</key>
                <string>{137,773}</string>
                <key>textureRect</key>
                <string>{{3,709},{137,773}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warehouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,98}</string>
                <key>spriteSourceSize</key>
                <string>{66,98}</string>
                <key>textureRect</key>
                <string>{{808,367},{66,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>activity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,104}</string>
                <key>spriteSourceSize</key>
                <string>{59,104}</string>
                <key>textureRect</key>
                <string>{{819,257},{59,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-feedState.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,169}</string>
                <key>spriteSourceSize</key>
                <string>{340,169}</string>
                <key>textureRect</key>
                <string>{{539,3},{340,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,16}</string>
                <key>spriteSourceSize</key>
                <string>{160,16}</string>
                <key>textureRect</key>
                <string>{{831,3},{160,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg-sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,16}</string>
                <key>spriteSourceSize</key>
                <string>{130,16}</string>
                <key>textureRect</key>
                <string>{{539,675},{130,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-value.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,16}</string>
                <key>spriteSourceSize</key>
                <string>{160,16}</string>
                <key>textureRect</key>
                <string>{{853,3},{160,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,127}</string>
                <key>spriteSourceSize</key>
                <string>{111,127}</string>
                <key>textureRect</key>
                <string>{{714,3},{111,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-farm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,106}</string>
                <key>spriteSourceSize</key>
                <string>{115,106}</string>
                <key>textureRect</key>
                <string>{{714,136},{115,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,101}</string>
                <key>spriteSourceSize</key>
                <string>{80,101}</string>
                <key>textureRect</key>
                <string>{{636,349},{80,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,101}</string>
                <key>spriteSourceSize</key>
                <string>{80,101}</string>
                <key>textureRect</key>
                <string>{{722,349},{80,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,102}</string>
                <key>spriteSourceSize</key>
                <string>{72,102}</string>
                <key>textureRect</key>
                <string>{{725,543},{72,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold-egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,81}</string>
                <key>spriteSourceSize</key>
                <string>{92,81}</string>
                <key>textureRect</key>
                <string>{{706,456},{92,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gonongchang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,204}</string>
                <key>spriteSourceSize</key>
                <string>{91,204}</string>
                <key>textureRect</key>
                <string>{{539,349},{91,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,48}</string>
                <key>spriteSourceSize</key>
                <string>{37,48}</string>
                <key>textureRect</key>
                <string>{{782,784},{37,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-feed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{825,784},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,700}</string>
                <key>spriteSourceSize</key>
                <string>{530,700}</string>
                <key>textureRect</key>
                <string>{{3,3},{530,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,97}</string>
                <key>spriteSourceSize</key>
                <string>{64,97}</string>
                <key>textureRect</key>
                <string>{{636,456},{64,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monitor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,103}</string>
                <key>spriteSourceSize</key>
                <string>{60,103}</string>
                <key>textureRect</key>
                <string>{{803,577},{60,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>recover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,104}</string>
                <key>spriteSourceSize</key>
                <string>{64,104}</string>
                <key>textureRect</key>
                <string>{{655,559},{64,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,92}</string>
                <key>spriteSourceSize</key>
                <string>{76,92}</string>
                <key>textureRect</key>
                <string>{{782,686},{76,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{539,559},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,100}</string>
                <key>spriteSourceSize</key>
                <string>{64,100}</string>
                <key>textureRect</key>
                <string>{{804,471},{64,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>steal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,99}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{714,257},{86,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Index.png</string>
            <key>size</key>
            <string>{881,849}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e64c2a0565545d9e76f41d1d26dfa699:4a0736e92ec5f18136e67a1381560da7:53dc076d93c362ef6e7bc50f8b9090d2$</string>
            <key>textureFileName</key>
            <string>Index.png</string>
        </dict>
    </dict>
</plist>
