<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,122}</string>
                <key>spriteSourceSize</key>
                <string>{502,122}</string>
                <key>textureRect</key>
                <string>{{2,2},{502,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clear_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,226}</string>
                <key>spriteSourceSize</key>
                <string>{56,226}</string>
                <key>textureRect</key>
                <string>{{2,787},{56,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,60}</string>
                <key>spriteSourceSize</key>
                <string>{275,60}</string>
                <key>textureRect</key>
                <string>{{2,508},{275,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>health_value.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,30}</string>
                <key>spriteSourceSize</key>
                <string>{135,30}</string>
                <key>textureRect</key>
                <string>{{96,781},{135,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lv-mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,148}</string>
                <key>spriteSourceSize</key>
                <string>{30,148}</string>
                <key>textureRect</key>
                <string>{{62,787},{30,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv-value.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,104}</string>
                <key>spriteSourceSize</key>
                <string>{30,104}</string>
                <key>textureRect</key>
                <string>{{96,920},{30,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,56}</string>
                <key>spriteSourceSize</key>
                <string>{269,56}</string>
                <key>textureRect</key>
                <string>{{66,508},{269,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bar.png</string>
            <key>size</key>
            <string>{128,1026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:988c372f6d69303ac36475d02e876202:0bfc71f7e5a68baae44757f3516599c9:e8761dc73faa9577e8d19875ec4a2dc1$</string>
            <key>textureFileName</key>
            <string>bar.png</string>
        </dict>
    </dict>
</plist>
